.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;

    .icon-bg {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: var(--color-n3); 
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s;
    }

    .icon-bg:hover {
        background-color: var(--color-n2);
    }

    .contact-btn svg {
        width: 40px;
        height: 40px;
    }
}
