.app-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-n3);
    padding: 1em;
    gap: 0.5em;
    font-weight: bold;
    color: var(--color-b5)
}

.footer-links {
    display: flex;
    gap: 1em;

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.25em 0.5em;
        font-weight: bold;
        color: inherit;
        text-decoration: none;
        border-radius: 4px;
        transition:
            color 0.2s ease,
            transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}