@font-face {
  font-family: 'Livvic';
  src: url('../../fonts/Livvic-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Livvic';
  src: url('../../fonts/Livvic-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Livvic';
  src: url('../../fonts/Livvic-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'MerriweatherSans';
  src: url('../../fonts/MerriweatherSans.ttf') format('truetype');
  font-weight: 100 900; /* variable font range */
  font-style: normal;
  font-display: swap;
}

